html, body {
  height: 100%; }

body {
  background: #dcd9d2;
  font-family: Georgia, serif;
  font-size: 14px;
  color: black;
  text-shadow: white 0 1px 0;
  margin: 0; }

#top {
  width: 100%;
  height: 90px;
  position: relative;
  border-top: 10px solid #738190; }
  #top header {
    width: 900px;
    margin: 0 auto;
    font-family: "Just Me Again Down Here", serif;
    font-weight: normal; }
    #top header a {
      margin: 0; }
    #top header a:link, #top header a:visited, #top header a:active {
      color: black;
      text-decoration: none; }
    #top header a:hover {
      color: #2f5471; }
    #top header h1 {
      margin: 40px 0;
      float: left;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 40px;
      padding: 0;
      font-weight: bold;
      letter-spacing: -2px; }
      #top header h1 a {
        margin: 0; }

.wrapper {
  height: auto !important;
  min-height: 100%;
  margin: 0 auto -60px; }

#container {
  width: 900px;
  margin: 0 auto;
  position: relative; }
  #container .push {
    height: 60px;
    clear: both; }
  #container a {
    margin: 0; }
  #container a:link, #container a:visited, #container a:active {
    color: black;
    text-decoration: none; }
  #container a:hover {
    color: #2f5471; }
  #container h2, #container h3 {
    font-family: Helvetica, Arial, serif;
    font-weight: bold;
    width: 100%;
    padding: 0;
    margin: 20px 0;
    clear: both; }
  #container h2 {
    font-size: 20px; }
  #container h3 {
    font-size: 16px; }
  #container #article {
    float: left; }
    #container #article img {
      float: right;
      margin-left: 15px; }
    #container #article p {
      float: left;
      line-height: 150%; }
  #container #article.front {
    width: 600px; }
  #container #article.post {
    width: 900px; }
  #container #sidebar {
    width: 250px;
    margin: 0 0 0 50px;
    float: right; }
    #container #sidebar ul {
      margin: 0;
      padding: 0; }
      #container #sidebar ul li {
        list-style: none;
        margin: 0 0 5px; }
  #container blockquote {
    width: 100%;
    clear: both;
    font-style: italic;
    font-size: 16px; }
  #container cite {
    margin-left: 400px;
    width: 100%;
    clear: both; }

.line {
  width: 100%;
  float: left;
  margin: 20px 0; }

#bottom {
  width: 100%;
  height: 20px;
  background: black;
  padding: 20px 0;
  position: relative; }
  #bottom footer {
    width: 900px;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: white;
    text-shadow: none; }
    #bottom footer a {
      margin: 0 0 0 25px; }
    #bottom footer a:link, #bottom footer a:visited, #bottom footer a:active {
      color: white;
      text-decoration: none;
      display: inline-block; }
    #bottom footer a:hover {
      color: #d2d8dc; }
    #bottom footer .top {
      float: right;
      cursor: pointer; }
