@import 'mixins'

html, body
	height: 100%

body
	background: #fff
	font-family: Helvetica, Arial, serif
	font-size: 13px
	color: black
	text-shadow: white 0 1px 0
	margin: 0
	
#top
	width: 100%
	height: 90px
	position: relative
	border-top: 10px solid #555 
	
	#header
		width: 900px
		margin: 0 auto
		font-weight: normal
		
		@include links

	
		h1
			margin: 40px 0
			float: left
			font-family: ratio-display,sans-serif
			font-style: normal
			font-weight: 300
			font-size: 60px
			padding: 0
			letter-spacing: -2px
			
			a
				margin: 0
	
.wrapper
	height: auto !important
	min-height: 100%
	margin: 0 auto -60px
	
#container
	width: 900px
	margin: 0 auto
	position: relative
	
	.push
		height: 60px
		clear: both
	
	@include links
	
	h2, h3
		font-family: ratio-display,sans-serif
		font-weight: normal
		width: 100%
		padding: 0
		margin: 20px 0	
		clear: both
		color: #555	
	
	h2
		font-size: 24px
		
	h3
		font-family: Georgia, serif
		font-size: 16px
		font-weight: normal
		font-style: italic
	
	#article
		float: left
			
		p
			float: left
			line-height: 150%
			
			a:link
				text-decoration: underline
					
			img
				float: right
				margin: 0 0 20px 20px
			
	#article.front
		width: 600px
		
		img
			float: left
			margin: 0 20px 20px 0		
			
	#article.post
		width: 900px
			
	#sidebar
		width: 250px
		margin: 0 0 0 50px
		float: right
		@include list-reset
		
	blockquote
		width: 100%
		clear: both
		font-style: italic
		font-size: 16px
		
		
	cite
		margin-left: 400px
		width: 100%
		clear: both
	
.line
	width: 100%
	float: left
	margin: 20px 0
	
.spacer
	width: 100%
	display: block
	clear: both
	height: 50px
	
.artist
	color: #555

.date
	color: #666
	font-style: italic
	font-size: 90%
	
.topartist
	color: #393
	margin-left: 10px
	font-size: 90%
	font-weight: bold
	
#portfolio
	@include list-reset
	
	ul
		margin-bottom: 20px
	
	ul li img
		float: left
		margin: 0 15px
	
#bottom
	width: 100%
	height: 20px
	background: #555
	padding: 20px 0
	position: relative
	
	footer
		width: 900px
		margin: 0 auto
		font-family: Helvetica, Arial, sans-serif
		font-size: 12px
		color: white
		text-shadow: none
		
		a
			margin: 0 25px 0 0

		a:link, a:visited, a:active
			color: white
			text-decoration: none
			display: inline-block

		a:hover
			color: #d2d8dc		
		
		.top
			float: right
			cursor: pointer
			
code
	border: 1px solid #ccc
	background: #eee
	padding: 10px
	clear: both
	width: 100%
	float: left
	display: inline-block
	margin: 10px 0