@import 'mixins'

html, body
	height: 100%

body
	background: #dcd9d2
	font-family: Georgia, serif
	font-size: 14px
	color: black
	text-shadow: white 0 1px 0
	margin: 0
	
#top
	width: 100%
	height: 90px
	position: relative
	border-top: 10px solid #738190
	
	#header
		width: 900px
		margin: 0 auto
		font-weight: normal
		
		@include links

	
		h1
			margin: 40px 0
			float: left
			font-family: Helvetica, Arial, sans-serif
			font-size: 40px
			padding: 0
			font-weight: bold
			letter-spacing: -2px
			
			a
				margin: 0
	
.wrapper
	height: auto !important
	min-height: 100%
	margin: 0 auto -60px
	
#container
	width: 900px
	margin: 0 auto
	position: relative
	
	.push
		height: 60px
		clear: both
	
	@include links
	
	h2, h3
		font-family: Helvetica, Arial, serif
		font-weight: bold
		width: 100%
		padding: 0
		margin: 20px 0	
		clear: both	
	
	h2
		font-size: 20px
		
	h3
		font-family: Georgia, serif
		font-size: 16px
		font-weight: normal
		font-style: italic
	
	#article
		float: left
		
		img
			float: right
			margin-left: 15px
			
		p
			float: left
			line-height: 150%
			
	#article.front
		width: 600px
			
	#article.post
		width: 900px
			
	#sidebar
		width: 250px
		margin: 0 0 0 50px
		float: right
		
		ul
			margin: 0
			padding: 0
			
			li
				list-style: none
				margin: 0 0 5px
		
	blockquote
		width: 100%
		clear: both
		font-style: italic
		font-size: 16px
		
		
	cite
		margin-left: 400px
		width: 100%
		clear: both
	
.line
	width: 100%
	float: left
	margin: 20px 0
	
.spacer
	width: 100%
	display: block
	clear: both
	height: 50px
	
.artist
	color: #555

.date
	color: #666
	font-style: italic
	font-size: 90%
	
.topartist
	color: #393
	margin-left: 10px
	font-size: 90%
	font-weight: bold
	
#bottom
	width: 100%
	height: 20px
	background: black
	padding: 20px 0
	position: relative
	
	footer
		width: 900px
		margin: 0 auto
		font-family: Helvetica, Arial, sans-serif
		font-size: 12px
		color: white
		text-shadow: none
		
		a
			margin: 0 0 0 25px

		a:link, a:visited, a:active
			color: white
			text-decoration: none
			display: inline-block

		a:hover
			color: #d2d8dc		
		
		.top
			float: right
			cursor: pointer
			
code
	border: 1px solid #ccc
	background: #eee
	padding: 10px
	clear: both
	width: 100%
	float: left
	display: inline-block
	margin: 10px 0