html, body {
  height: 100%; }

body {
  background: #dcd9d2;
  font-family: Georgia, serif;
  font-size: 14px;
  color: black;
  text-shadow: white 0 1px 0;
  margin: 0; }

#top {
  width: 100%;
  height: 90px;
  position: relative;
  border-top: 10px solid #738190; }
  #top #header {
    width: 900px;
    margin: 0 auto;
    font-weight: normal; }
    #top #header a {
      margin: 0; }
    #top #header a:link, #top #header a:visited, #top #header a:active {
      color: black;
      text-decoration: none; }
    #top #header a:hover {
      color: #2f5471; }
    #top #header h1 {
      margin: 40px 0;
      float: left;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 40px;
      padding: 0;
      font-weight: bold;
      letter-spacing: -2px; }
      #top #header h1 a {
        margin: 0; }

.wrapper {
  height: auto !important;
  min-height: 100%;
  margin: 0 auto -60px; }

#container {
  width: 900px;
  margin: 0 auto;
  position: relative; }
  #container .push {
    height: 60px;
    clear: both; }
  #container a {
    margin: 0; }
  #container a:link, #container a:visited, #container a:active {
    color: black;
    text-decoration: none; }
  #container a:hover {
    color: #2f5471; }
  #container h2, #container h3 {
    font-family: Helvetica, Arial, serif;
    font-weight: bold;
    width: 100%;
    padding: 0;
    margin: 20px 0;
    clear: both; }
  #container h2 {
    font-size: 20px; }
  #container h3 {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic; }
  #container #article {
    float: left; }
    #container #article p {
      float: left;
      line-height: 150%; }
      #container #article p a:link, #container #article p a:active, #container #article p a:visited {
        color: #2f5471; }
        #container #article p a:link a:link, #container #article p a:link a:active, #container #article p a:link a:visited, #container #article p a:active a:link, #container #article p a:active a:active, #container #article p a:active a:visited, #container #article p a:visited a:link, #container #article p a:visited a:active, #container #article p a:visited a:visited {
          color: #2f5471; }
      #container #article p img {
        float: right;
        margin: 0 0 20px 20px; }
  #container #article.front {
    width: 600px; }
    #container #article.front img {
      float: left;
      margin: 0 20px 20px 0; }
  #container #article.post {
    width: 900px; }
  #container #sidebar {
    width: 250px;
    margin: 0 0 0 50px;
    float: right; }
    #container #sidebar ul {
      margin: 0;
      padding: 0; }
      #container #sidebar ul li {
        list-style: none;
        margin: 0 0 5px; }
  #container blockquote {
    width: 100%;
    clear: both;
    font-style: italic;
    font-size: 16px; }
  #container cite {
    margin-left: 400px;
    width: 100%;
    clear: both; }

.line {
  width: 100%;
  float: left;
  margin: 20px 0; }

.spacer {
  width: 100%;
  display: block;
  clear: both;
  height: 50px; }

.artist {
  color: #555555; }

.date {
  color: #666666;
  font-style: italic;
  font-size: 90%; }

.topartist {
  color: #339933;
  margin-left: 10px;
  font-size: 90%;
  font-weight: bold; }

#portfolio ul {
  margin: 0;
  padding: 0; }
  #portfolio ul li {
    list-style: none;
    margin: 0 0 5px; }
#portfolio ul {
  margin-bottom: 20px; }
#portfolio ul li img {
  float: left;
  margin: 0 15px; }

#bottom {
  width: 100%;
  height: 20px;
  background: black;
  padding: 20px 0;
  position: relative; }
  #bottom footer {
    width: 900px;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: white;
    text-shadow: none; }
    #bottom footer a {
      margin: 0 0 0 25px; }
    #bottom footer a:link, #bottom footer a:visited, #bottom footer a:active {
      color: white;
      text-decoration: none;
      display: inline-block; }
    #bottom footer a:hover {
      color: #d2d8dc; }
    #bottom footer .top {
      float: right;
      cursor: pointer; }

code {
  border: 1px solid #cccccc;
  background: #eeeeee;
  padding: 10px;
  clear: both;
  width: 100%;
  float: left;
  display: inline-block;
  margin: 10px 0; }
