body {
  background: #3e4754;
  color: #ffffff;
  font-family: "chaparral-pro", georgia, serif;
  margin-top: 70px;
  -webkit-font-smoothing: antialiased;
}

p {
    line-height: 150%;
}

#container {
    width: 600px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 100px 0;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

h2 a:link, h2 a:visited, h2 a:active {
    color: #ffffff;
    font-size: 14pt;
    text-decoration: none;
    border-bottom: 2px solid #dd4825;
}

.article {
    margin-bottom: 100px;
}

.article-end {
    font-size: 10pt;
    font-style: italic;
    color: #8da2ac;
}

a:link {
    color: #8da2ac;
    text-decoration: none;
}