body {
  background: #ffffff;
  font-family: Helvetica Neue, Arial, sans-serif;
  margin-top: 70px;
  -webkit-font-smoothing: antialiased;
}

#content a:link, #content a:visited {
  color: #152c38;
  font-weight: bold;
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline;
}

#container {
  width: 900px;
  margin: 0 auto;
}

header {
  width: 300px;
  float: left;
  position: fixed;
}

header h1 a:link, header h1 a:visited {
  color: #152c38;
  text-decoration: none;
}

header h1 a:hover {
  text-decoration: underline;
}

header h2 a:link, header h2 a:visited {
  color: #b5b5b5;
  text-decoration: none;
}

header h2 a:hover {
  text-decoration: underline;
  color: #152c38;
}

footer {
  font-size: 13px;
  color: #b5b5b5;
  margin: 40px 0 0;
}

#content {
  float: right;
  width: 600px;
  font-size: 14px;
  line-height: 1.5em;
}

#content h2 {
  font-size: 16px;
  letter-spacing: 0px;
  text-transform: none;
  margin-top: 10px;
}

#content h3 {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  clear: both
}

#content h2 a:link, #content h2 a:visited {
  text-decoration: none;
  color: #152c38;
}

#content .article {
  margin-bottom: 50px;
}

#content ul {
  list-style: none;
  padding-left: 0;
}

#content ul li {
  margin: 10px 0;
}

.artist {
  font-style: italic;
}

h1, h2 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -2px;
  text-transform: lowercase;
  margin: 0;
  line-height: 1em;
}

h1 {
  color: #152c38;
}

h4 {
    margin: 0;
}

.inactive {
  color: #b5b5b5;
}

.cols div.left {
  width: 210px;
  margin-right: 20px;
  float: left;
}

.cols div.middle {
  width: 200px;
  margin-right: 10px;
  float: left;
}

.cols div.right {
  width: 160px;
  float: right;
}



.desc {
    float: left;
    width: 100%;
    display: block;
}

.tech {
    display: inline-block;
    float: left;
    background: #000;
    border-radius: 5px;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2px 5px;
    margin: 3px 2px 0 0;
}

ul.projects {
    margin: 0 0 40px;
    float: left;
}

ul.projects li {
    width: 100%;
    float: left;
}

ul.projects li img {
    float: left;
}

ul.projects.design li {
    display: inline-block;
    width: auto;
}

.java {
    background: #3285C9
}

.php {
    background: #8D62B5
}

.mysql {
    background: #EDAD24
}

.scala {
    background: #8596AA
}

.spring {
    background: #73B535
}

.nodejs {
    background: #46483E
}

.rails {
    background: #981A21
}

.objc {
    background: #666666
}

.cocoa {
    background: #999999
}

.redis {
    background: #E62222
}