<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold' rel='stylesheet' type='text/css'>    
    <link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/blog.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/page.js"></script>
    <title>Daniel Treacy &mdash; {{ page.title }}</title>
    {% include analytics.html %}
  </head>
  
  <body>
    {% include header.html %}    
    <div id="container">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
  
</html>