<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <link href="/stylesheets/v2.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script type="text/javascript" src="/scripts/page.js"></script>
    <script type="text/javascript" src="/scripts/pure.min.js"></script>
    <title>Daniel Treacy</title>
    {% include analytics.html %}
    <script type="text/javascript" src="//use.typekit.net/qew8rkr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

    <div id="scroller-mask"></div>

    <div id="floating-header">
      <img id="go-to-top" src="/images/top.png"/>
    </div>

    <div id="container">
      {{ content }}
    </div>

    <footer>
    &copy; 2012. Daniel Treacy
    </footer>

  </body>

</html>
